{% extends 'main/main.html' %}


{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock %}

{% block content %}


    <div class="container wrapper relative">
        <h1 class="title-main">Панель</h1>
        <div class="user">
            Привет, {{ request.user.username }}.<br> <a class="link" href="{% url 'logout' %}">Выйти</a>
        </div>

        <form method="post" class="add">
            {% csrf_token %}
            <div class="add__top">
                {{ form.as_p }}
            </div>

            <label for="" style="margin-bottom: 10px;display: inline-block;">
                Выбрать болезнь:
            </label>
            <select id="list" multiple="multiple" name="code" id="">
                {% for i in sicks %}
                    {% for s in single %}
                        {% if s.group_name_id == i.id %}
                            <option value="{{ s.id }}" data-section="{{ i.name }}">
                                {{ s.name }}
                            </option>
                        {% endif %}

                    {% endfor %}

                    {% for b in under_group %}

                        {% if b.group_name_id == i.id %}

                            {% for s in single %}
                                {% if s.under_group_name_id == b.id %}
                                    <option value="{{ s.id }}" data-section="{{ i.name }}/{{ b.name }}">
                                        {{ s.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </select>
            <button class="btn" type="submit" id="create">Добавить случай</button>
        </form>
        {% if data %}

            <div class="last">
                <h3 class="last__title title-h3">{{ more_case|default:'Добавленные последние случаи :' }}</h3>
                <ul class="last__ul">
                    {% for i in data %}
                        <li class="last__item">
                            <span class="col-2">Код - {{ i.code_name }}</span>
                            <span class="col-2">Пол - {{ i.sex }}</span>
                            <span class="col-2">Возраст - {{ i.adult_age }}</span>
                            <span class="col-2"> Число дней
                            - {{ i.days }}</span>
                            <a class="link" href="{% url 'update' pk=i.id %}">изменить</a>
                            <a class="link link--del" href="{% url 'delete' item_id=i.id %}">удалить</a></li>
                    {% endfor %}
                </ul>

                {% if not more_case %}
                    <a class="link" href="{% url 'list' %}">Посмотреть все случаи</a>
                {% endif %}
            </div>

        {% endif %}
    </div>
    <div class="app container-fluid justify-content-center" id="app">


                {% if table_json %}
                        <h3 class="app__title title-h3">Таблица:</h3>

                    <table>
                        <thead>
                        <tr>
                            <th colspan="5" style="border: none"></th>
                            <th colspan="10">Возраст</th>
                        </tr>

                        <tr>
                            <th>Причина нетрудоспособности</th>
                            <th>Шифр по МКБ Х пересмотра</th>
                            <th>Пол</th>
                            <th>Число дней временной нетрудоспособности</th>
                            <th>Число случаев временной нетрудоспособности</th>

                            <td>15-19</td>
                            <td>20-24</td>
                            <td>25-29</td>
                            <td>30-34</td>
                            <td>35-39</td>
                            <td>40-44</td>
                            <td>45-49</td>
                            <td>50-54</td>
                            <td>55-59</td>
                            <td>60 лет и старше</td>


                        </thead>
                        <tbody>

                        {% for col in table_json.data %}
                            <tr>
                                <td>
                                    {% if col.under_group %}
                                        {% if forloop.counter in nums %}
                                            В том числе:
                                        {% endif %} {{ col.under_group }}

                                    {% else %}
                                        <b>{{ col.name }}</b>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if col.main_group_codes %}
                                        {{ col.main_group_codes }}
                                    {% else %}
                                        {% for c in col.all_codes %}
                                            {{ c }} {% if not forloop.last %},{% endif %}
                                        {% endfor %}

                                    {% endif %}


                                </td>
                                <td>{{ col.data.man.sex }}
                                    <hr>
                                    {{ col.data.girl.sex }}</td>
                                <td>{{ col.data.man.days }}
                                    <hr>
                                    {{ col.data.girl.days }}</td>
                                <td>{{ col.data.man.all_cases }}
                                    <hr>
                                    {{ col.data.girl.all_cases }}</td>
                                <td>{{ col.data.man.ag.1 }}
                                    <hr>
                                    {{ col.data.girl.ag.1 }}</td>
                                <td>{{ col.data.man.ag.2 }}
                                    <hr>
                                    {{ col.data.girl.ag.2 }}</td>
                                <td>{{ col.data.man.ag.3 }}
                                    <hr>
                                    {{ col.data.girl.ag.3 }}</td>
                                <td>{{ col.data.man.ag.4 }}
                                    <hr>
                                    {{ col.data.girl.ag.4 }}</td>
                                <td>{{ col.data.man.ag.5 }}
                                    <hr>
                                    {{ col.data.girl.ag.5 }}</td>
                                <td>{{ col.data.man.ag.6 }}
                                    <hr>
                                    {{ col.data.girl.ag.6 }}</td>
                                <td>{{ col.data.man.ag.7 }}
                                    <hr>
                                    {{ col.data.girl.ag.7 }}</td>
                                <td>{{ col.data.man.ag.8 }}
                                    <hr>
                                    {{ col.data.girl.ag.8 }}</td>
                                <td>{{ col.data.man.ag.9 }}
                                    <hr>
                                    {{ col.data.girl.ag.9 }}</td>
                                <td>{{ col.data.man.ag.10 }}
                                    <hr>
                                    {{ col.data.girl.ag.10 }}</td>
                            </tr>

                        {% endfor %}
                        <tr>
                            {% with table_json.data_all_count.only_sick as i %}

                                <td><b>Всего по заболеваниям</b></td>
                                <td></td>
                                <td>муж
                                    <hr>
                                    жен
                                </td>
                                <td>{{ i.man.days }}
                                    <hr>
                                    {{ i.girl.days }}</td>
                                <td>{{ i.man.all_cases }}
                                    <hr>
                                    {{ i.girl.all_cases }}</td>
                                <td>{{ i.man.ag.1 }}
                                    <hr>
                                    {{ i.girl.ag.1 }}</td>
                                <td>{{ i.man.ag.2 }}
                                    <hr>
                                    {{ i.girl.ag.2 }}</td>
                                <td>{{ i.man.ag.3 }}
                                    <hr>
                                    {{ i.girl.ag.3 }}</td>
                                <td>{{ i.man.ag.4 }}
                                    <hr>
                                    {{ i.girl.ag.4 }}</td>
                                <td>{{ i.man.ag.5 }}
                                    <hr>
                                    {{ i.girl.ag.5 }}</td>
                                <td>{{ i.man.ag.6 }}
                                    <hr>
                                    {{ i.girl.ag.6 }}</td>
                                <td>{{ i.man.ag.7 }}
                                    <hr>
                                    {{ i.girl.ag.7 }}</td>
                                <td>{{ i.man.ag.8 }}
                                    <hr>
                                    {{ i.girl.ag.8 }}</td>
                                <td>{{ i.man.ag.9 }}
                                    <hr>
                                    {{ i.girl.ag.9 }}</td>
                                <td>{{ i.man.ag.10 }}
                                    <hr>
                                    {{ i.girl.ag.10 }}</td>
                            {% endwith %}

                        </tr>
                        <tr>
                            {% with table_json.data_all_count.with_sick as i %}

                                <td><b>ИТОГО ПО ВСЕМ ПРИЧИНАМ</b></td>
                                <td></td>
                                <td>муж
                                    <hr>
                                    жен
                                </td>
                                <td>{{ i.man.days }}
                                    <hr>
                                    {{ i.girl.days }}</td>
                                <td>{{ i.man.all_cases }}
                                    <hr>
                                    {{ i.girl.all_cases }}</td>
                                <td>{{ i.man.ag.1 }}
                                    <hr>
                                    {{ i.girl.ag.1 }}</td>
                                <td>{{ i.man.ag.2 }}
                                    <hr>
                                    {{ i.girl.ag.2 }}</td>
                                <td>{{ i.man.ag.3 }}
                                    <hr>
                                    {{ i.girl.ag.3 }}</td>
                                <td>{{ i.man.ag.4 }}
                                    <hr>
                                    {{ i.girl.ag.4 }}</td>
                                <td>{{ i.man.ag.5 }}
                                    <hr>
                                    {{ i.girl.ag.5 }}</td>
                                <td>{{ i.man.ag.6 }}
                                    <hr>
                                    {{ i.girl.ag.6 }}</td>
                                <td>{{ i.man.ag.7 }}
                                    <hr>
                                    {{ i.girl.ag.7 }}</td>
                                <td>{{ i.man.ag.8 }}
                                    <hr>
                                    {{ i.girl.ag.8 }}</td>
                                <td>{{ i.man.ag.9 }}
                                    <hr>
                                    {{ i.girl.ag.9 }}</td>
                                <td>{{ i.man.ag.10 }}
                                    <hr>
                                    {{ i.girl.ag.10 }}</td>
                            {% endwith %}
                        </tr>
                        <tr>
                            {% with table_json.data_all_count.all as i %}

                                <td><b>ВСЕГО</b></td>
                                <td></td>
                                <td></td>
                                <td>{{ i.days }}</td>
                                <td>{{ i.all_cases }}</td>
                                <td>{{ i.ag.1 }}</td>
                                <td>{{ i.ag.2 }}</td>
                                <td>{{ i.ag.3 }}</td>
                                <td>{{ i.ag.4 }}</td>
                                <td>{{ i.ag.5 }}</td>
                                <td>{{ i.ag.6 }}</td>
                                <td>{{ i.ag.7 }}</td>
                                <td>{{ i.ag.8 }}</td>
                                <td>{{ i.ag.9 }}</td>
                                <td>{{ i.ag.10 }}</td>
                            {% endwith %}
                        </tr>


                        </tbody>

                    </table>

                {% endif %}


            </div>


{% endblock %}
{% block footer_js %}
    {% load static %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js
"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js
"></script>
    <script src="{% static 'js/jquery.tree-multiselect.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>



    <script>
        var django = django || {};
        django.jQuery = $;
    </script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    {{ form.media }}
    {#{{ formset.media }}#}

{% endblock %}