{% extends 'main/main.html' %}

{% block extra_header %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
{% endblock %}

{% block content %}

    <div class="container wrapper update_page relative" style="margin-bottom: 100px;">
        <h2 class="title-main">Изменить запись</h2>
        <span style="    position: absolute;
    top: 13px;
    left: auto;
    right: 0;">Дата добавления: {{ med.pub_date | date }}</span>
        <form method="post" class="add">
            {% csrf_token %}
            <div class="add__top">
                {{ form.as_p }}
            </div>

            <label for="" style="margin-bottom: 10px;display: inline-block;">
                Выбрать болезнь:
            </label>
            <select id="list" multiple="multiple" name="code">
                {% for i in sicks %}
                    {% for s in single %}
                        {% if s.group_name_id == i.id %}
                            <option value="{{ s.id }}" {% if object.code_id_id == s.id %}selected="selected"{% endif %}
                                    data-section="{{ i.name }}">
                                {{ s.name }}
                            </option>
                        {% endif %}

                    {% endfor %}

                    {% for b in under_group %}

                        {% if b.group_name_id == i.id %}

                            {% for s in single %}
                                {% if s.under_group_name_id == b.id %}
                                    <option value="{{ s.id }}"
                                            {% if object.code_id_id == s.id %}selected="selected"{% endif %}
                                            data-section="{{ i.name }}/{{ b.name }}">
                                        {{ s.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </select>
            <button class="btn" type="submit" id="create">Обновить</button>
        </form>
        <a class="link" href="{% url 'index' %}">назад</a>
    </div>

{% endblock %}

{% block footer_js %}
    {% load static %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.tree-multiselect.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>

    <script>
        var django = django || {};
        django.jQuery = $;
    </script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    {{ form.media }}
{% endblock %}