<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Static</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/jquery.tree-multiselect.min.css' %}">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>

{% block content %}

{% endblock %}


<footer></footer>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js
"></script>
<script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js
"></script>
<script src="{% static 'js/jquery.tree-multiselect.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

</body>
</html>