footer {
    height: 100px;
}
table thead {
    font-size: 12px;
}
.table.dataTable thead th, table.dataTable thead td{
    min-width: 33px;
    padding: 10px 18px;
}
table tbody td {
    border-bottom: 1px solid;
    border-left: 1px solid;
}
table tbody tr td:last-of-type{
    border-right: 1px solid;
}
table.dataTable.no-footer{
    border-bottom: none;

}

table tbody{
    border-right: 1px solid ;
}